[alias]
  s = status --short
  diffc = diff --cached
  lg = log --oneline --decorate --graph --all --topo-order
[core]
  editor = code --wait
  autocrlf=true
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
